<!DOCTYPE html>
<html lang="en">
<head>
    <!--HeaderLinks Import -->
    {{>header}}
</head>
<body>
<!--Navbar Import -->
{{>navbar}}
    <!--Main Header-->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--Left Side Block-->
                    <div class="col-md-6 col-12 main_header_right align-items-center"> 
                        <figure>
                            <img src="images/user.png" alt="ask" class="img-fluid" title="asiya sk">
                        </figure>
                    </div>
                    <!--Right Side Block-->
                    <div class="col-md-6 col-12 main_header_left"> 
                        <p>Wellcome to Our App</p>
                        <h1>I Am a <span class="text_clr">Junior MEAN Stack Developer</span> Creating And Developing Websites</h1>
                        <a href="/weather" ><button class="btn btn-success">About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Import-->
    {{>footer}}
</body>
</html>