<!DOCTYPE html>
<html lang="en">
<head>
  <!--HeaderLinks Import -->
    {{>header}}
</head>
<body>
    <!--Navbar Import-->
    {{>navbar}}
    <h1>Wellcome To Blogs Pages</h1>
    <!--Footer Import-->
    {{>footer}}

</body>
</html>